
@import 'utils/variables';
@import 'base/defaults';
@import 'base/visually-hidden';
@import 'components/container';
@import 'common/header';
@import 'common/logo';
@import 'components/hero';
@import 'components/popup';
@import 'components/our-features';
@import 'components/what-we-do';
@import 'common/footer';













/* Наша Команда */

.our-team {
  background-color: $background-color-team;
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.66;
  letter-spacing: 0.03em;
  color: $black-text;
  text-align: center;
  margin-bottom: 50px;
}
.our-team-workers {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: calc(-1 * 50px);
  margin-left: calc(-1 * 30px);
}

.our-team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 50px;
  margin-left: 30px;
  background-color: $white-text;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  min-height: 428px;
}

/* Карточки працівників */

.workers-card {
  /* width: 270px; */
  margin-top: 30px;
  background-color: $white-text;
  text-align: center;
}

.name-employee {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $black-text;
}

.position-employee {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $grey-text;
  margin-top: 10px;
}

/* Іконки соц.мережі робітників */

.employee-link {
  list-style-type: none;
  margin-top: 16px;
  display: flex;
  justify-content: space-evenly;
  background-color: $white-text;
}


// .social-link:hover .employee-icon,
// .social-link:focus .employee-icon {
//   fill: $white-text;
// }


// .social-networks:hover .employee-icon {
//   fill: $white-text;
// }

// .social-networks:hover .social-link {
//   background-color: $blue-text;
// }






// .social-link:hover,
// .social-link:focus {
//   background-color: $blue-text;
//   color: $white-text;
// }
// .social-link {
//   width: 44px;
//   height: 44px;
//    border-radius: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: $icon-background-dark-grey;
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }




// .footer-icon {
//   fill: $white-text;
// }
// .social-link:hover,
// .social-link:focus {
//   background-color: $blue-text;
//   color: $white-text;
// }

// .social-link:hover {
//   background-color: $blue-text;
//   color: $white-text;
// }

// .social-link {
//   width: 44px;
//   height: 44px;
//   /* background-color: #fff; */
//   border-radius: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: $icon-background-dark-grey;
// }

/* SVG */

.employee-icon {
  fill: currentColor;
  fill: $icon-grey;
}

/* .employee-icon {
  fill: $icon-grey;
}
.employee-icon:hover {
  fill: $white-text;
} */

/* Постійні клієнти */

.regular-customers {
  padding: 94px 0;
}

.regular-customers-title {
  font-family: 'Roboto';
  font-style: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 3%;
}

.regular-customers-icon {
  display: flex;
  flex-wrap: wrap;
  margin: 50px -15px 0;
}

.customers-item {
  border: 1px solid $icon-grey;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  width: calc(100% / 6 - 30px);
  height: 90px;
  margin: 0 15px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item:hover {
  border-color: $blue-text;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  color: $blue-text;
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: $blue-text;
}
/* SVG */
/* .customers-icon:hover {
  fill: currentColor;
} */

.customers-icon {
  fill: $icon-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* PORTFOLOIO PAGE */

/* Ховаємо заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio {
  padding-top: 94px;
}

/* Buttons */

.buttons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.buttons li:not(:last-child) {
  margin-right: 8px;
}

.button-title {
  background: $background-button;
  color: $black-text;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-title.active,
.button-title:hover,
.button-title:focus {
  background: $blue-text;
  color: $white-text;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Карточки Портфоліо */

.portfolio-title {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.card-portfolio {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
}

.card-portfolio:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-portfolio-link {
  text-decoration: none;
}

.card-portfolio-link:hover,
.card-portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Вспливаюче вікно */
.card-thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 294px;
}

.hover-thumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $background-hover-thumb-portfolio;
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: white;
  /* opacity: 0; */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: translateY(101%);
}

.card-portfolio:hover .hover-thumb {
  /* opacity: 1; */
  transform: translateY(0);
}

.card-portfolio-link {
  display: block;
}

/* Вспливаюче вікно */

.card-content {
  padding: 20px 24px;
}
.card-headling {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $black-text;
}

.card-text {
  margin-top: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $grey-text;
}




/* SVG */

.employee-icon {
  fill: currentColor;
  fill: $grey-text;
}












/* Соц.мережі Footer  */







